<div id="red" class=" col-md-12">
  <div class="container">
    <div class="row">
      <div id="slider" class="slider_wrap col-md-6 col-sm-12">
        <div class="fotorama" data-autoplay="true">
          <div>
            <p>Комплексная мультистанция для силовых тренажеров.</p>
          </div>
          <div>
            <!--<%= image_tag('sliderImage2')%>-->
            <p>Контакты:<br><br>
              Тел.: +7(000) 000-00-00<br>
              Mail: test@mail.ru</p>
          </div>
          <div>
            <p>Для заказа заполните форму</p>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5 col-sm-12" >
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>



<div id="gray" class="col-md-12">
  <div id="mainText" class="col-md-5">
    <h2>hyperset multistation</h2>
    <p>Область применения — универсальные тренировки. Подходит как для фитнесс залов, так и для тренировок дома.
      Комплектация — тяги сверху, тяги снизу(гребля), жим лёжа (под разными углами), жим сидя, приседания, набор перекладин для подтягивания, брусья (разнохватовые), пресс- подъём ног, Т — тяга, набор блочных ручек, универсальная скамья.
      По желанию клиента мультистанция комплектуется грифом — 2200 мм и набором дисков для штанги.
      Также по желанию клиента мультистанция может быть укомплектована или двумя грузовыми стеками (нагрузка по 100 кг каждый) или стеком для свободных весов (нагружаемая дисками).
    </p>
  </div>
  <div id="containerVideo" class="col-md-5"></div>
</div>

<div id="GrayBlock" class="col-md-12">
  <div id="textLeft" class="col-md-4" class="col-sm-12" style="text-align: center">
    <h4>Все виды силовых упражнений</h4>
    <h4>Комплектация по заказу</h4>
    <h4>Гарантия</h4>
    <h4>Сделано в России для настоящих силачей!</h4>
    <h4>Сломать невозможно!</h4>
    <h4><em>Для себя</em></h4>
    <h4><em>Для семьи</em></h4>
    <h4><em>Для залов</em></h4>
    <h4>Любые цвета</h4>
    <h4>Индивидуальные размеры</h4>
    <h4>Характеристики и цены по запросу</h4>
  </div>
  <div id="centerInfo" class="col-md-4" class="col-sm-12">
    <h2>hyperset multistation</h2>
    <%= image_tag('HYPERSET', height: '500px') %>
  </div>
  <div id="textRight" class="col-md-4" class="col-sm-12" style="text-align: center">
    <h4>Легко настраивается под любые упражнения и нагрузки</h4>
    <h4>Можно собрать самостоятельно</h4>
    <h4>Дополнительные веса и аксессуары</h4>
    <h4>Максимальная безопасность</h4>
    <h4>Поместится даже в маленьком спортзале</h4>
    <h4>Для залов</h4>
    <h4>Любые цвета</h4>
    <h4>Изготовление по индивидуальным требованиям</h4>
    <h4>Лучшее соотношение цена/возможности</h4>
    <h4>Любые цвета</h4>

  </div>
</div>

<div id="SecondGrayBlock" class="col-md-12">
  <div class="container">
    <h2>плюшки hyperset multistation</h2>
    <div class="row">
      <div class="box col-md-4 col-sm-12 col-xs-12" >
        <p class = 'img-p'><%= image_tag('image1', class:'mainImg') %></p>
        <p class = "GreyText">Конструкция тренажёра HYPERSET MULTISTATION разработана российскими специалистами из компании Genetic Group на основе 20 летнего опыта работы в индустрии фитнеса и спорта.</p>

      </div>
      <div class="box col-md-4 col-sm-12 col-xs-12" >
        <p class = 'img-p'><%= image_tag('image2', class:'mainImg') %></p>
        <p class = "GreyText">При создании тренажёра HYPERSET MULTISTATION использованы лучшие комплектующие от лучших российских и мировых производителей.</p>

      </div>
      <div class="box col-md-4 col-sm-12 col-xs-12" >
        <p class = 'img-p'><%= image_tag('image3', class:'mainImg') %></p>
        <p class = "GreyText">Тренажёр HYPERSET MULTISTATION создан для проведения комплекса упражнений, доступных только на импортных тренажёрах гораздо более высокой ценовой категории.</p>
      </div>
    </div>
  </div>
</div>

<div id="specificationHSM" class="col-md-12">
  <h1>СПЕЦИФИКАЦИИ HYPERSET MULTISTATION</h1>
  <div id="dimensions" class="col-md-3">
    <h2>Размеры:</h2>
    <p>ШИРИНА — 1300 мм</p>
    <p>ДЛИНА — 2100 мм</p>
    <p>ВЫСОТА — 2200 мм</p>
  </div>
  <div id="capabilities" class="col-md-5">
    <h2>Возможности:</h2>
    <p>Область применения — универсальные тренировки. Подходит как для фитнесс залов, так и для тренировок дома.
      Комплектация — тяги сверху, тяги снизу(гребля), жим лёжа (под разными углами), жим сидя, приседания, набор перекладин для подтягивания, брусья (разнохватовые), пресс- подъём ног, Т — тяга, набор блочных ручек, универсальная скамья.
      По желанию клиента мультистанция комплектуется грифом — 2200 мм и набором дисков для штанги.
      Также по желанию клиента мультистанция может быть укомплектована или двумя грузовыми стеками (нагрузка по 100 кг каждый) или стеком для свободных весов (нагружаемая дисками)</p>
  </div>
  <div id="advantages" class="col-md-4">
    <h2>Приемущества:</h2>
    <h4>ЦЕНА — 197000
      РУБ.</h4>

    <p>ГРУЗОБЛОЧНЫЙ ВАРИАНТ ( Включает в себя все перечисленные выше опции + гриф 2200 мм и набор дисков общим весом 140 кг)</p>

    <h4>ЦЕНА — 135000 РУБ.</h4>

    <p>ВАРИАНТ НА СВОБОДНОМ ВЕСЕ ( Включает в себя все перечисленные выше опции + гриф 2200 мм и набор дисков общим весом 140 кг)</p>
  </div>
</div>

<a href="#">
  <div id="buyButton" class="col-md-12">
    <div class="col-md-3"></div>
    <div id="button" class="col-md-6">заказать hyperset multistation</div>
  </div>
</a>
<div id="footer" class="col-md-12">
  <div id="logoFooter" class="col-md-3 col-sm-3 col-xs-6">
    <%= image_tag('logoHS',width:'300px')%>
  </div>
  <div id="contactsFooter" class="col-md-5 col-sm-5 col-xs-6">
    <h3>Контакты: </h3>
    <table>
      <tr>
        <td>
          <p>
            Россия,Ижевск
            <br>
            ул.Улица,00
          </p>
        </td>
        <td>
          <p>
            Тел: +7 (000) 000 00-00
            <br>
            Email: testemail@mail.ru
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
