<!DOCTYPE html>
<html>
<head>
  <title>HYPERSSET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter39665015 = new Ya.Metrika({
          id:39665015,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39665015" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<header>
  <% if user_signed_in? %>
      <div class="row admin-line">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 admin-button">
          <% if current_page?(root_path) %>
            <%= link_to 'Список заказов', orders_path %>
          <% else %>
            <%= link_to 'Главная', root_path %>
          <% end %>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 admin-button" ><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></div>
      </div>
  <% end %>
  <div class="row" style="text-align: center">
    <p><img src="https://s3.eu-central-1.amazonaws.com/hyperset/logoHS.png" class = "mainImg"></p>
  </div>
</header>

    <%= yield %>


</body>
</html>
